<!DOCTYPE html>
<html>
<head>
    <title>Nbrand.it</title>
    <link rel="stylesheet" href="../../Assets/style.css">
</head>
<body>
    <div class="menu">
        <div class="menu-title">Nbrand.it</div>
        <div class="menu-items">
            <div class="menu-items-item">About</div> 
            <div class="menu-items-item">What we do</div> 
            <div class="menu-items-item">Help</div>         
        </div>
        <div class="menu-profile">15 credits</div>
    </div>

     <div class="drag">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="drag-input">
                <input type="file" name="files[]" data-multiple-caption="{count} files selected" multiple />
                <label for="file"><strong>Choose a file</strong> or drag it here.</label>
            </div>
            <div class="drag-message">Cool!</div>
            <button class="drag-button" type="submit">Upload</button>
        </form>
    </div>
        
    @RenderBody()
</body>
</html>
