<!DOCTYPE html>
<html>
<head>
    <title>Unbrandit</title>
    <link rel="stylesheet" href="../../Assets/style.css">
</head>
<body>
    <div class="menu">
        <div class="menu-title">Unbrandit</div>
        <div class="menu-items">
            <div class="menu-items-item">About</div> 
            <div class="menu-items-item">What we do</div> 
            <div class="menu-items-item">Help</div>         
        </div>
        <div class="menu-profile">Your profile</div>
    </div>
        
    @RenderBody()
</body>
</html>