<!DOCTYPE html>
<html>
<head>
    <title>ImageChecker</title>
    <link rel="stylesheet" href="../../Assets/style.css">
</head>
<body>
    <!-- MENU-->
        
    @RenderBody()
</body>
</html>
