@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Nbrand.it</title>
    <link rel="stylesheet" href="../../Assets/style.css">
</head>
<body>
    <div class="menu">
        <div class="menu-title">Nbrand.it</div>
        <div class="menu-items">
            <div class="menu-items-item">About</div> 
            <div class="menu-items-item">What we do</div> 
            <div class="menu-items-item">Help</div>         
        </div>
        <div class="menu-profile">15 credits</div>
    </div>
    <div class="drag">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data"})) {
    <div class="drag-input">
        <input type="file" name="file" id="file" /><br><br>
    </div>
    <button class="drag-button" type="submit">Upload</button>
    @ViewBag.Message
}
    </div>
</body>
</html>
