@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Nbrand.it</title>
    <link rel="stylesheet" href="../../Assets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="menu">
        <div class="menu-title"><a href="/">Nbrand.it</a></div>
    </div>
    <div class="drag">
        <label for="file">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })){
        <div class="drag-input box__input">
            <div class="drag-icon">
                <i class="fa fa-upload fa-3x" aria-hidden="true"></i>
            </div>
            <input type="file" name="file" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple style="display: none;"/>
            <strong>Click and choose a file</strong><span class="box__dragndrop"> or drag it here</span>.
        </div>
        <button class="drag-button box__button" type="submit">Upload</button>
        <div class="drag-message">@ViewBag.Message</div>
        }
            </label>
    </div>
</body>
</html>
